<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfm.activity.mapper.ActPrintMapper">

    <resultMap type="ActPrint" id="ActPrintResult">
        <result property="printId"    column="print_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="userPrintId"    column="user_print_id"    />
        <result property="userDeliveryId"    column="user_delivery_id"    />
        <result property="printNumber"    column="print_number"    />
        <result property="bothSideFlag"    column="both_side_flag"    />
        <result property="colorFlag"    column="color_flag"    />
        <result property="sealingFlag"    column="sealing_flag"    />
        <result property="paperSize"    column="paper_size"    />
        <result property="studentRemark"    column="student_remark"    />
        <result property="status"    column="status"    />
        <result property="addressId"    column="address_id"    />
        <result property="coverColor"    column="cover_color"    />
        <result property="fee"    column="fee"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="address"    column="address"    />
        <result property="takeNumber"    column="take_number"    />
        <result property="takeName"    column="take_name"    />
        <result property="studentName"    column="student_name"/>
        <association property="userPrint" column="user_print_id" select="com.lfm.system.mapper.SysUserMapper.selectUserById"></association>
        <association property="userDelivery" column="user_delivery_id" select="com.lfm.system.mapper.SysUserMapper.selectUserById"></association>
    </resultMap>
    <sql id="selectActPrintVo">
        select p.print_id, p.student_id, p.file_name, p.file_url, p.user_print_id, p.user_delivery_id, p.print_number, p.both_side_flag, p.color_flag, p.sealing_flag, p.paper_size, p.student_remark, p.status, p.address_id, p.cover_color, p.fee, p.create_by, p.create_time, p.update_by, p.update_time, p.remark,
            a.address_id,a.address ,a.take_number,a.take_name,
            s.student_id,s.student_name
        from act_print p
        left join act_address a on a.address_id = p.address_id
        left join sys_student s on s.student_id = p.student_id
    </sql>

    <select id="selectActPrintList" parameterType="ActPrint" resultMap="ActPrintResult">
        <include refid="selectActPrintVo"/>
        <where>
            <if test="studentId != null "> and p.student_id = #{studentId}</if>
            <if test="fileName != null  and fileName != ''"> and p.file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileUrl != null  and fileUrl != ''"> and p.file_url = #{fileUrl}</if>
            <if test="userPrintId != null "> and p.user_print_id = #{userPrintId}</if>
            <if test="userDeliveryId != null "> and p.user_delivery_id = #{userDeliveryId}</if>
            <if test="printNumber != null "> and p.print_number = #{printNumber}</if>
            <if test="bothSideFlag != null  and bothSideFlag != ''"> and p.both_side_flag = #{bothSideFlag}</if>
            <if test="colorFlag != null  and colorFlag != ''"> and p.color_flag = #{colorFlag}</if>
            <if test="sealingFlag != null  and sealingFlag != ''"> and p.sealing_flag = #{sealingFlag}</if>
            <if test="paperSize != null  and paperSize != ''"> and p.paper_size = #{paperSize}</if>
            <if test="studentRemark != null  and studentRemark != ''"> and p.student_remark = #{studentRemark}</if>
            <if test="status != null  and status != ''"> and p.status = #{status}</if>
            <if test="addressId != null "> and p.address_id = #{addressId}</if>
            <if test="coverColor != null  and coverColor != ''"> and p.cover_color = #{coverColor}</if>
            <if test="fee != null "> and p.fee = #{fee}</if>
            <if test="address != null">
                and a.address like concat('%', #{address}, '%')
            </if>
            <if test="takeNumber != null">
                and a.takeNumber like concat('%', #{takeNumber}, '%')
            </if>
            <if test="takeName != null">
                and a.takeName like concat('%', #{takeName}, '%')
            </if>
            <if test="studentName != null">
                and s.studentName like concat('%', #{studentName}, '%')
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(p.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(p.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectActPrintById" parameterType="Long" resultMap="ActPrintResult">
        <include refid="selectActPrintVo"/>
        where p.print_id = #{printId}
    </select>

    <insert id="insertActPrint" parameterType="ActPrint" useGeneratedKeys="true" keyProperty="printId">
        insert into act_print
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="fileUrl != null and fileUrl != ''">file_url,</if>
            <if test="userPrintId != null">user_print_id,</if>
            <if test="userDeliveryId != null">user_delivery_id,</if>
            <if test="printNumber != null">print_number,</if>
            <if test="bothSideFlag != null">both_side_flag,</if>
            <if test="colorFlag != null">color_flag,</if>
            <if test="sealingFlag != null">sealing_flag,</if>
            <if test="paperSize != null">paper_size,</if>
            <if test="studentRemark != null">student_remark,</if>
            <if test="status != null">status,</if>
            <if test="addressId != null">address_id,</if>
            <if test="coverColor != null">cover_color,</if>
            <if test="fee != null">fee,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="userPrintId != null">#{userPrintId},</if>
            <if test="userDeliveryId != null">#{userDeliveryId},</if>
            <if test="printNumber != null">#{printNumber},</if>
            <if test="bothSideFlag != null">#{bothSideFlag},</if>
            <if test="colorFlag != null">#{colorFlag},</if>
            <if test="sealingFlag != null">#{sealingFlag},</if>
            <if test="paperSize != null">#{paperSize},</if>
            <if test="studentRemark != null">#{studentRemark},</if>
            <if test="status != null">#{status},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="coverColor != null">#{coverColor},</if>
            <if test="fee != null">#{fee},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateActPrint" parameterType="ActPrint">
        update act_print
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="fileUrl != null and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="userPrintId != null">user_print_id = #{userPrintId},</if>
            <if test="userDeliveryId != null">user_delivery_id = #{userDeliveryId},</if>
            <if test="printNumber != null">print_number = #{printNumber},</if>
            <if test="bothSideFlag != null">both_side_flag = #{bothSideFlag},</if>
            <if test="colorFlag != null">color_flag = #{colorFlag},</if>
            <if test="sealingFlag != null">sealing_flag = #{sealingFlag},</if>
            <if test="paperSize != null">paper_size = #{paperSize},</if>
            <if test="studentRemark != null">student_remark = #{studentRemark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="coverColor != null">cover_color = #{coverColor},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where print_id = #{printId}
    </update>

    <delete id="deleteActPrintById" parameterType="Long">
        delete from act_print where print_id = #{printId}
    </delete>

    <delete id="deleteActPrintByIds" parameterType="String">
        delete from act_print where print_id in
        <foreach item="printId" collection="array" open="(" separator="," close=")">
            #{printId}
        </foreach>
    </delete>

</mapper>