<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfm.activity.mapper.ActTaskMapper">
    
    <resultMap type="ActTask" id="ActTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="studentSendId"    column="student_send_id"    />
        <result property="studentRealizeId"    column="student_realize_id"    />
        <result property="status"    column="status"    />
        <result property="taskDescribe"    column="task_describe"    />
        <result property="fee"    column="fee"    />
        <result property="addressId"    column="address_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="userCheckId"    column="user_check_id"    />
        <result property="checkContent"    column="check_content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="cancelTime"    column="cancel_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="takeTime"    column="take_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="checkTime"    column="check_time"    />
        <result property="address"    column="address"    />
        <result property="takeNumber"    column="take_number"    />
        <result property="takeName"    column="take_name"    />
        <result property="studentSendName"    column="student_send_name"/>
        <result property="studentRealizeName"    column="student_realize_name"/>
        <association property="userCheck" column="user_check_id" select="com.lfm.system.mapper.SysUserMapper.selectUserById"></association>
    </resultMap>

    <sql id="selectActTaskVo">
        select t.task_id, t.student_send_id, t.student_realize_id, t.status, t.task_describe, t.fee, t.address_id, t.create_by, t.create_time, t.update_by, t.update_time, t.remark, t.task_title, t.user_check_id, t.check_content, t.del_flag, t.cancel_time, t.pay_time, t.take_time, t.finish_time, t.check_time,
            a.address_id,a.address ,a.take_number,a.take_name,
            s1.student_name  student_send_name,
            s2.student_name student_realize_name
        from act_task t
        left join sys_address a on a.address_id = t.address_id
        left join sys_student s1 on s1.student_id = t.student_send_id
        left join sys_student s2 on s2.student_id = t.student_realize_id
    </sql>

    <select id="selectActTaskList" parameterType="ActTask" resultMap="ActTaskResult">
        <include refid="selectActTaskVo"/>
        <where>  
            <if test="studentSendId != null "> and t.student_send_id = #{studentSendId}</if>
            <if test="studentRealizeId != null "> and t.student_realize_id = #{studentRealizeId}</if>
            <if test="status != null  and status != ''"> and t.status = #{status}</if>
            <if test="taskDescribe != null  and taskDescribe != ''"> and t.task_describe = #{taskDescribe}</if>
            <if test="fee != null "> and t.fee = #{fee}</if>
            <if test="addressId != null "> and t.address_id = #{addressId}</if>
            <if test="taskTitle != null  and taskTitle != ''"> and t.task_title = #{taskTitle}</if>
            <if test="userCheckId != null "> and t.user_check_id = #{userCheckId}</if>
            <if test="checkContent != null  and checkContent != ''"> and t.check_content = #{checkContent}</if>
            <if test="cancelTime != null "> and t.cancel_time = #{cancelTime}</if>
            <if test="payTime != null "> and t.pay_time = #{payTime}</if>
            <if test="takeTime != null "> and t.take_time = #{takeTime}</if>
            <if test="finishTime != null "> and t.finish_time = #{finishTime}</if>
            <if test="checkTime != null "> and t.check_time = #{checkTime}</if>
        </where>
    </select>
    
    <select id="selectActTaskById" parameterType="Long" resultMap="ActTaskResult">
        <include refid="selectActTaskVo"/>
        where task_id = #{taskId}
    </select>
        
    <insert id="insertActTask" parameterType="ActTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into act_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentSendId != null">student_send_id,</if>
            <if test="studentRealizeId != null">student_realize_id,</if>
            <if test="status != null">status,</if>
            <if test="taskDescribe != null">task_describe,</if>
            <if test="fee != null">fee,</if>
            <if test="addressId != null">address_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="taskTitle != null">task_title,</if>
            <if test="userCheckId != null">user_check_id,</if>
            <if test="checkContent != null">check_content,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="takeTime != null">take_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="checkTime != null">check_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentSendId != null">#{studentSendId},</if>
            <if test="studentRealizeId != null">#{studentRealizeId},</if>
            <if test="status != null">#{status},</if>
            <if test="taskDescribe != null">#{taskDescribe},</if>
            <if test="fee != null">#{fee},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="taskTitle != null">#{taskTitle},</if>
            <if test="userCheckId != null">#{userCheckId},</if>
            <if test="checkContent != null">#{checkContent},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="takeTime != null">#{takeTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="checkTime != null">#{checkTime},</if>
         </trim>
    </insert>

    <update id="updateActTask" parameterType="ActTask">
        update act_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentSendId != null">student_send_id = #{studentSendId},</if>
            <if test="studentRealizeId != null">student_realize_id = #{studentRealizeId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="taskDescribe != null">task_describe = #{taskDescribe},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="taskTitle != null">task_title = #{taskTitle},</if>
            <if test="userCheckId != null">user_check_id = #{userCheckId},</if>
            <if test="checkContent != null">check_content = #{checkContent},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="takeTime != null">take_time = #{takeTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteActTaskById" parameterType="Long">
        delete from act_task where task_id = #{taskId}
    </delete>

    <delete id="deleteActTaskByIds" parameterType="String">
        delete from act_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
    
</mapper>