<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfm.system.mapper.SysRoleCollegeMapper">

	<resultMap type="SysRoleCollege" id="SysRoleCollegeResult">
		<result property="roleId"     column="role_id"      />
		<result property="collegeId"     column="college_id"      />
	</resultMap>

	<delete id="deleteRoleCollegeByRoleId" parameterType="Long">
		delete from sys_role_college where role_id=#{roleId}
	</delete>
	
	<select id="selectCountRoleCollegeByCollegeId" resultType="Integer">
	    select count(1) from sys_role_college where college_id=#{collegeId}
	</select>
	
	<delete id="deleteRoleCollege" parameterType="Long">
 		delete from sys_role_college where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleCollege">
		insert into sys_role_college(role_id, college_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.collegeId})
		</foreach>
	</insert>
	
</mapper> 