<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfm.system.mapper.SysRoleSchoolMapper">

	<resultMap type="SysRoleSchool" id="SysRoleSchoolResult">
		<result property="roleId"     column="role_id"      />
		<result property="schoolId"     column="school_id"      />
	</resultMap>

	<delete id="deleteRoleSchoolByRoleId" parameterType="Long">
		delete from sys_role_school where role_id=#{roleId}
	</delete>
	
	<select id="selectCountRoleSchoolBySchoolId" resultType="Integer">
	    select count(1) from sys_role_school where school_id=#{schoolId}
	</select>
	
	<delete id="deleteRoleSchool" parameterType="Long">
 		delete from sys_role_school where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleSchool">
		insert into sys_role_school(role_id, school_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.schoolId})
		</foreach>
	</insert>
	
</mapper> 