<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfm.system.mapper.SysStudentMapper">

    <resultMap type="SysStudent" id="SysStudentResult">
        <result property="studentId"    column="student_id"    />
        <result property="schoolId"    column="school_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="studentNumber"    column="student_number"    />
        <result property="email"    column="email"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="sex"    column="sex"    />
        <result property="avatar"    column="avatar"    />
        <result property="password"    column="password"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="school"    column="school_id" javaType="SysSchool" resultMap="schoolResult" />
    </resultMap>

    <resultMap id="schoolResult" type="SysSchool">
        <id     property="schoolId"   column="school_id"     />
        <result property="schoolName" column="school_name"   />
        <result property="status"   column="school_status" />
    </resultMap>

    <sql id="selectSysStudentVo">
        select s.student_id, s.school_id, s.student_name, s.student_number, s.email, s.phone_number, s.sex, s.avatar, s.password, s.status, s.del_flag, s.create_by, s.create_time, s.update_by, s.update_time, s.remark,
        d.school_id,   d.school_name,   d.status as school_status
        from sys_student s
            left join sys_school d on s.school_id = d.school_id
    </sql>

    <select id="selectSysStudentList" parameterType="SysStudent" resultMap="SysStudentResult">
        <include refid="selectSysStudentVo"/>
        <where>
            <if test="schoolId != null "> and s.school_id = #{schoolId}</if>
            <if test="studentName != null  and studentName != ''"> and s.student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentNumber != null  and studentNumber != ''"> and s.student_number = #{studentNumber}</if>
            <if test="email != null  and email != ''"> and s.email = #{email}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and s.phone_number = #{phoneNumber}</if>
            <if test="sex != null  and sex != ''"> and s.sex = #{sex}</if>
            <if test="avatar != null  and avatar != ''"> and s.avatar = #{avatar}</if>
            <if test="password != null  and password != ''"> and s.password = #{password}</if>
            <if test="status != null  and status != ''"> and s.status = #{status}</if>
        </where>
    </select>

    <select id="selectSysStudentById" parameterType="Long" resultMap="SysStudentResult">
        <include refid="selectSysStudentVo"/>
        where s.student_id = #{studentId}
    </select>

    <insert id="insertSysStudent" parameterType="SysStudent" useGeneratedKeys="true" keyProperty="studentId">
        insert into sys_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">school_id,</if>
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="studentNumber != null and studentNumber != ''">student_number,</if>
            <if test="email != null">email,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="sex != null">sex,</if>
            <if test="avatar != null">avatar,</if>
            <if test="password != null">password,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolId != null">#{schoolId},</if>
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="studentNumber != null and studentNumber != ''">#{studentNumber},</if>
            <if test="email != null">#{email},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="sex != null">#{sex},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="password != null">#{password},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysStudent" parameterType="SysStudent">
        update sys_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="schoolId != null">school_id = #{schoolId},</if>
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="studentNumber != null and studentNumber != ''">student_number = #{studentNumber},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="password != null">password = #{password},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteSysStudentById" parameterType="Long">
        delete from sys_student where student_id = #{studentId}
    </delete>

    <delete id="deleteSysStudentByIds" parameterType="String">
        delete from sys_student where student_id in
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>

</mapper>